body {
  font-size: 1.3em;
}

.container {
  margin: 40px;
  margin-top: 60px;
}

button {
  width: 200px;
  background: #eee;
  padding: 10px;
  margin: 20px auto;
  border: none;
  border-radius: 4px;
  font-size: 1em;
  cursor: pointer;
  display: block;
}
