.container {
  max-width: 600px;
}

.btn {
  background: #333;
  color: white;
  outline: none !important;
  box-shadow: none !important;
}
.btn:hover {
  background: lightgray !important;
  color: #333 !important;
}

.btn:focus {
  outline: none !important;
}

.username {
  font-weight: bold;
  margin-right: 1rem;
}

.time {
  font-size: 0.7em;
  color: #999999;
}

.update-msg {
  text-align: center;
  margin: 20px auto;
}
